@font-face {
    font-family: 'Newsreader';
    src: url('../../public/fonts/Newsreader_36pt-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../../public/fonts/Inter-SemiBold.ttf');
}

@media screen and (max-width: 540px) {

    .cardElongated {
        width: 10px; /* or any smaller value that suits your design */
        height: 50px;
    }


}