@font-face {
    font-family: 'Newsreader';
    src: url('../../public/fonts/Newsreader_36pt-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../../public/fonts/Inter-SemiBold.ttf');
}

@media screen and (max-width: 540px) {
    .card-elongated {
        width: 400px; /* or any smaller value that suits your design */
    }
}