@font-face {
    font-family: 'Newsreader';
    src: url('../../public/fonts/Newsreader_36pt-Regular.ttf');
}

.calendar{
    width: 300px;
    height: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    background-color: #fff;
}


/* Custom toolbar styles */
.customToolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.customToolbarButton {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.customToolbarButton:hover {
    background-color: #e7e7e7;
}

.customToolbarSpan {
    font-weight: bold;
}


.rbcCalendar {
    font-size: 10px;
}

.rbcDayBg {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: black;
}

.rbcToday {
    background-color: #eaf6ff;
    color: black;
}

.rbcCurrent {
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 300px) {


    .calendar {
        height: 200px;
        width: 200px;
    }
}
