.container{
    margin-left: 140px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    height: 550px;
    width: 600px;

}



@media screen and (max-width: 540px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        height: auto;
        width: 200px;
    }

}
