@font-face {
    font-family: 'Newsreader';
    src: url('../../public/fonts/Newsreader_36pt-Regular.ttf');
}

body {
    background-color: #F3F3F3;
}

.main {
    margin-left: 125px; /* This should be equal to the width of the header */
    color: black;
}

.newsreader {
    font-family: 'Newsreader', serif;
    font-size: 48px;
}

.imageContainerTitle {
    order: 2; /* Place the h1 in the middle */
}

.imageContainerFirstChild {
    order: 1; /* Place the first image before the h1 */
}

.imageContainerLastChild {
    order: 3; /* Place the second image after the h1 */
}


.title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.description {
    margin-top: 50px;
    text-align: center;
}


.imageContainerImg {
    width: 200px; /* Ajustează lățimea imaginilor */
    height: 198px; /* Menține proporția imaginilor */
    border-radius: 27px;
}

.imageContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row; /* Display the images and the h1 in a row on large screens */
    justify-content: center;
    align-items: center;
    gap: 50px;
}




@media screen and (max-width: 500px) {
        .imageContainer {
            flex-direction: column; /* Stack the images and the h1 vertically on small screens */
        }

        .imageContainerTitle {
            order: 3; /* Place the h1 below the images */
        }

        .imageContainerFirstChild {
            order: 1; /* Place the first image at the top */
        }

        .imageContainerLastChild {
            order: 2; /* Place the second image in the middle */
        }
}


@media screen and (max-width: 500px) {
    .main {
        margin-top : 25px;
        margin-left: 0;
    }

    .newsreader {
        font-size: 24px; /* Reduce the font size for smaller screens */
    }

    .title {
        /*margin-top: 25px;*/
        /*margin-bottom: 25px;*/
    }

    .description {
        margin-top: 25px;
        text-after-overflow: ellipsis;
    }

    .imageContainer {
        /*flex-direction: column; !* Stack the images vertically on small screens *!*/
        gap: 25px; /* Reduce the space between images */
    }

    .imageContainerImg {
        width: 100px; /* Make the images take up the full width of their container */
        height: 100px; /* Let the images maintain their aspect ratio */
    }
}