@font-face {
    font-family: 'Newsreader';
    src: url('../../public/fonts/Newsreader_36pt-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/fonts/Inter-SemiBold.ttf');
}

body{
    background-color: #F3F3F3;
}

.cardContainer{
    margin-left: 140px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap: 10px;
}

.noDecoration{
    text-decoration: None;
}

.title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-left: 35px;
    margin-top: 30px;
}

.p{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: #333333;
    width: 100%;
}

.str{
    font-family: 'Newsreader', sans-serif;
    font-size: 17px;
    color: #333333;
    width: 100%;

}